/* header.scss */

.header {
  height: 46px;
  width: 100%;
  border-bottom: 2px solid #ff4655;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;

  background-color: #1f2023;

  .header-container {
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    // flex-direction: row;
    // border: 2px solid blue;

    .header-logo {
      width: 20%;
      display: flex;
      margin: 0;
      align-items: center;
      // border: 2px solid green;
      .logo {
        width: 150px;
        height: 35px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .header-menu {
      display: flex;
      margin: 0;
      justify-content: space-between;
      flex-direction: row;
      width: 30%;
      align-items: center;
      .header-favorites {
        &:hover {
          cursor: pointer;
        }
        h2 {
          color: white;
          font-size: 20px;
          font-weight: 500;
          margin: 0;
          white-space: nowrap;
        }
      }

      .header-username-img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }

      button {
        top: 0px;
        border-radius: 8px;
        border: none;
        margin: 0;
        background-color: #ff4655;
        color: white;
        font-weight: 600;
        &:hover {
          cursor: pointer;
          background-color: darken(#ff4655, 5);
        }
      }
      .header-disconnect {
        height: 35px;
        width: 100px;
      }
      .header-login-signup {
        display: flex;
        gap: 10px;
        .btn-login-signup {
          height: 35px;
          width: 85px;
        }
      }
    }
  }
}
